@media(max-width:992px)
{
    #main
    {
        width: 30vw;
        margin-left: 3vw;
    }
    #sub
    {
        margin: 0 auto;
        margin-top: 4vw;
    }
}
@media(max-width:600px)
{
    #main
    {
       width: 70vw;
       margin-left: 9vw;
    }
}